<h1>Notes</h1>

<table>
  <tr>
    <th>Title</th>       
    <th>Attachment</th>
    <th>Belongs to</th>
  </tr>

<% @notes.each do |note| %>
  <tr>
    <td><span class='itemtitle'><%= link_to "#{note.title}", note %></span></td>
    <td>
      <% if note.att? %>
        <% if note.att_is_image %>
          <%= link_to(image_tag(note.att.url, :width => "100"), note.att.url, :class => "top_up") %>
        <% else %>
          <%= link_to note.att.original_filename, note.att.url, :target => "_blank" %>
        <% end %>
      <% end %>    
    </td>    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Note', new_note_path %>
