<h1>System Configuration</h1>
<div class="box">
  <%= render 'expensetypes/index' %>
</div>
<div class="box">
  <%= render 'garmenttypes/index' %> 
</div>
<div class="box">
  <%= render 'clientsources/index' %>
</div>



