<h2>Garment Types</h2>


<table>
  <tr>
    <th>Name</th>
    <th class="descr_list">Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @garmenttypes.each do |garmenttype| %>
  <tr>
    <td><span class="itemtitle"><%= link_to "#{garmenttype.name}", edit_garmenttype_path(garmenttype) %></span></td>
    <td class="descr_list"><%= garmenttype.description %></td>
    <td><%= link_to 'Delete', garmenttype, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Garment Type', new_garmenttype_path %>

