<h2>Client Sources</h2>

<table>
  <tr>
    <th>Name</th>
    <th class="descr_list">Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clientsources.each do |clientsource| %>
  <tr>
    <td><span class='itemtitle'><%= link_to "#{clientsource.name}", edit_clientsource_path(clientsource) %></span></td>
    <td class="descr_list"><%= clientsource.description %></td>
    <td><%= link_to 'Delete', clientsource, :confirm => "Deleting #{clientsource.name}. Are you sure?", :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Client Source', new_clientsource_path %>
